name: Fetch Deployment Commit tag

on: 
  workflow_dispatch

jobs:
  flag_status:
    runs-on: ubuntu-latest
    outputs:
      auto_deploy_flag: ${{ steps.get_flag.outputs.auto_deploy_flag }}
      deploy_time_flag: ${{ steps.check_time.outputs.deploy_time_flag }}
    steps:
      - name: Get the auto deploy flag
        id: get_flag
        run: |
          AUTO_DEPLOY_FLAG="${{ vars.AUTO_DEPLOY }}"
          echo "AUTO_DEPLOY_FLAG=${AUTO_DEPLOY_FLAG}" >> $GITHUB_ENV
          echo "auto_deploy_flag=${AUTO_DEPLOY_FLAG}" >> $GITHUB_OUTPUT
      - name: Check if the time to deploy matches the current time hour
        id: check_time
        run: |
          DEPLOY_HOUR="${{ vars.DEPLOY_HOUR }}"
          CURRENT_HOUR=$(date -u +%H)
          echo "Deploy hour : $DEPLOY_HOUR"
          echo "Current hour : $CURRENT_HOUR"
          if [ "$DEPLOY_HOUR" == "$CURRENT_HOUR" ]; then
            echo "Current hour matches to Deploy hour"
            echo "DEPLOY_TIME_FLAG=true" >> $GITHUB_ENV
            echo "deploy_time_flag=true" >> $GITHUB_OUTPUT
          fi

  deploy:
    needs: flag_status
    runs-on: ubuntu-latest
    if: needs.flag_status.outputs.auto_deploy_flag == 'true' && needs.flag_status.outputs.deploy_time_flag == 'true'
    steps:
      - name: Call Deployments API and parse the first code and buildCode
        run: |
          DEPLOYMENTS_JSON=$(curl -s -X GET -H "Authorization: Bearer 6d02d70de338be53dfe9286adb1fee" "https://portalapi.commerce.ondemand.com/v2/subscriptions/c9ef4f6487d4499aa3ea3d9bfd6f4957/deployments" -H 'Content-Type: application/json')
          echo "$DEPLOYMENTS_JSON"
          CODE=$(echo "$DEPLOYMENTS_JSON" | jq -r '.value[0].code')
          BUILD_CODE=$(echo "$DEPLOYMENTS_JSON" | jq -r '.value[0].buildCode')
          echo "build code is: $BUILD_CODE"
          echo "CODE=$CODE" >> $GITHUB_ENV
          echo "BUILD_CODE=$BUILD_CODE" >> $GITHUB_ENV

      - name: Call Builds API using buildCode
        run: | 
          echo "Build code is: ${{ env.BUILD_CODE }}"
          BUILD_JSON=$(curl -s -X GET -H "Authorization: Bearer 6d02d70de338be53dfe9286adb1fee" "https://portalapi.commerce.ondemand.com/v2/subscriptions/c9ef4f6487d4499aa3ea3d9bfd6f4957/builds/${{ env.BUILD_CODE }}" -H 'Content-Type: application/json')
          echo "$BUILD_JSON"
          BUILD_VERSION=$(echo "$BUILD_JSON" | jq -r '.buildVersion')
          BRANCH=$(echo "$BUILD_JSON" | jq -r '.branch')
          echo "BUILD_VERSION=$BUILD_VERSION" >> $GITHUB_ENV
          echo "BRANCH=$BRANCH" >> $GITHUB_ENV
        
         

      - name: Extract value between buildCode and branch in buildVersion
        run: | 
          
          EXTRACTED=$(echo "${{ env.BUILD_VERSION }}" | sed -e "s#.*${{ env.BUILD_CODE }}-\(.*\)-${{ env.BRANCH }}#\1#")
          echo "code: ${{ env.CODE }}"
          echo "buildCode: ${{ env.BUILD_CODE }}"
          echo "buildVersion: ${{ env.BUILD_VERSION }}"
          echo "branch: ${{ env.BRANCH }}"
          echo "Extracted : $EXTRACTED " 
          
