name: Fetch Deployment Commit tag

on: 
  workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Call Deployments API and parse the first code and buildCode
        run: |
          DEPLOYMENTS_JSON=$(curl -s -X GET -H "Authorization: Bearer 6d02d70de338be53dfe9286adb1fee" "https://portalapi.commerce.ondemand.com/v2/subscriptions/c9ef4f6487d4499aa3ea3d9bfd6f4957/deployments" -H 'Content-Type: application/json')
          echo "$DEPLOYMENTS_JSON"
          CODE=$(echo "$DEPLOYMENTS_JSON" | jq -r '.value[0].code')
          BUILD_CODE=$(echo "$DEPLOYMENTS_JSON" | jq -r '.value[0].buildCode')
          echo "build code is: $BUILD_CODE"
          echo "CODE=$CODE" >> $GITHUB_ENV
          echo "BUILD_CODE=$BUILD_CODE" >> $GITHUB_ENV

      - name: Call Builds API using buildCode
        run: | 
          echo "Build code is: $BUILD_CODE"
          BUILD_JSON=$(curl -s -X GET -H "Authorization: Bearer 6d02d70de338be53dfe9286adb1fee" "https://portalapi.commerce.ondemand.com/v2/subscriptions/c9ef4f6487d4499aa3ea3d9bfd6f4957/builds/$BUILD_CODE" -H 'Content-Type: application/json')
          echo "$BUILD_JSON"
          BUILD_VERSION=$(echo "$BUILD_JSON" | jq -r '.buildVersion')
          BRANCH=$(echo "$BUILD_JSON" | jq -r '.branch')
          echo "BUILD_VERSION=$BUILD_VERSION" >> $GITHUB_ENV
          echo "BRANCH=$BRANCH" >> $GITHUB_ENV
        env:
          BUILD_CODE: ${{ env.BUILD_CODE }}

      - name: Extract value between buildCode and branch in buildVersion
        run: | 
          # Extract value between BUILD_CODE and BRANCH in BUILD_VERSION
          EXTRACTED=$(echo "$BUILD_VERSION" | sed -e "s/.*${BUILD_CODE}-\(.*\)-${BRANCH}/\1/")
          echo "code: $CODE"
          echo "buildCode: $BUILD_CODE"
          echo "buildVersion: $BUILD_VERSION"
          echo "branch: $BRANCH"
          echo "Extracted Value: $EXTRACTED"
        env:
          CODE: ${{ env.CODE }}
          BUILD_CODE: ${{ env.BUILD_CODE }}
          BUILD_VERSION: ${{ env.BUILD_VERSION }}
          BRANCH: ${{ env.BRANCH }}
