name: Fetch Deployment Commit tag

on: 
   workflow_dispatch
jobs:
  deploy:
   runs-on: ubuntu-latest
   steps:
     - name: Call Deployments API and parse the first code and buildCode
       run: |
          DEPLOYMENTS_JSON=$(curl -s "https://portalapi.commerce.ondemand.com/v2/subscriptions/c9ef4f6487d4499aa3ea3d9bfd6f4957/deployments")
          CODE=$(echo "$DEPLOYMENTS_JSON" | jq -r '.value[0].code')
          BUILD_CODE=$(echo "$DEPLOYMENTS_JSON" | jq -r '.value[0].buildCode')
          
     - name: Call Builds API using buildCode
       run: | 
         BUILDS_JSON=$(curl -s "https://portalapi.commerce.ondemand.com/v2/subscriptions/c9ef4f6487d4499aa3ea3d9bfd6f4957/builds/$BUILD_CODE")
         BUILD_VERSION=$(echo "$BUILDS_JSON" | jq -r '.buildVersion')
         BRANCH=$(echo "$BUILDS_JSON" | jq -r '.branch')
     - name: Extract value between buildCode and branch in buildVersion
       run: | 
         echo "code: $CODE"
         echo "buildCode: $BUILD_CODE"
         echo "buildVersion: $BUILD_VERSION"
         echo "branch: $BRANCH"
         echo "Extracted Value: $INTERMEDIATE"
